

.box-container {
    display: flex;
    width: 70%;
    margin:auto;
    justify-content: space-between;
  
}

.box1 {
    width: 25%;
    height: 200px;
    background-color: yellow;
}

.box2 {
    width: 25%;
    height: 200px;
    background-color: red;
}

.box3 {
    width: 25%;
    height: 200px;
    background-color: black;
}

@media (min-width: 320px) and (max-width: 480px) {

    .box-container {
        width: 100%;
        flex-direction:column;
    }

    .box1 {
        width: 100%;
        margin-bottom: 30px;
    }

    .box2 {
        width: 100%;
        margin-bottom: 30px;
    }

    .box3 {
        width: 100%;
        margin-bottom: 30px;
    }

}


@media (min-width: 481px) and (max-width: 768px) {

    .box-container {
        width: 100%;
        flex-direction:column;
    }

    

}